:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;
  list-style-type: none;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

/* App.css */
:root {
  --border-radius-500: 8px;
  --border-style: groove;
  --border-radius-color: #686a81;
  --site-background: #000000;
  --site-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  background-color: var(--site-background);
  font-family: var(--fonts-primary);
  font-size: 14px;
  margin: 0;
  user-select: none;
}

.low-priority {
  background-color: lightgreen;
}

.medium-priority {
  background-color: lightblue;
}

.high-priority {
  background-color: lightcoral;
}

.layout__wrapper {
  border-radius: 3px;
  margin: 3rem auto;
}
@media (width <640px){
  .layout__wrapper {
    padding-inline: 20px;
  }
}
@media (min-width: 640px) {
  .layout__wrapper {
    width: 75%;
  }
}

.flex1 {
  flex: 1;
  border-width: 2px;
  border-style:var(--border-style);
  border-radius: var(--border-radius-500);
  border-color: var(--border-radius-color);
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.main__task-container {
  display: flex;
  gap: 5px;
}

@media (max-width: 500px) {
  .main__task-container {
    flex-direction: column;
  }
}

.header {
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
}

.store-container__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 14px / 21px Karla, sans-serif;
  vertical-align: baseline;
  list-style-type: none;
  overflow-anchor: none;
}

.store-container {
  text-align: center;
  padding-block: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-sizing: border-box;
  margin: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 14px / 21px Karla, sans-serif;
  vertical-align: baseline;
  list-style-type: none;
}

.store-container h3 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 14px / 21px Karla, sans-serif;
  vertical-align: baseline;
  list-style-type: none;
}

.items-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 14px / 21px Karla, sans-serif;
  vertical-align: baseline;
  list-style-type: none;
}

.items-container__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(0, 0, 0);
  font: 14px / 21px Karla, sans-serif;
  vertical-align: baseline;
  list-style-type: none;
  color: rgb(0, 0, 0);
}

.item-container {
  padding: 1.4rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.btn {
  width: calc(100% - 28px);
  cursor: pointer;
  outline: rgb(0, 0, 0) none 0px;
  border: 0px none rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  padding: 14px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  list-style-type: none;
  font-weight: 600;
}
.modal-container{
  background-color: #000000;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;

  width: 50%;
  height: 50%;
  z-index: 10000;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 20px;
  transition: all 0.3s ease;
}
@media (width<500px){
  .modal-container{
    width: 80%;
  }
}
.modal-container__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}
.modal-container__wrapper input{
  margin: 0 0 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.modal-container__wrapper h2{
  margin: 0 0 20px;
}
.selecter-items{
  display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px none rgb(255, 255, 255);
    font: 14px / 21px Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    list-style-type: none; 
}
.selecter-items select{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  outline: rgb(255, 255, 255) none 0px;
  list-style-type: none;
  margin: 0;
}
